# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Output directory for next.js build
.next/
out/

# Production build output
dist/
build/

# Next.js telemetry/cache
.next/cache/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Exceptions to keeping env template files
!*.env.example

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/
.nyc_output

# OS Files
.DS_Store
Thumbs.db
